In [31]:
import pandas as pd
import os

In [95]:
PATH_IN = './data/'
fname = os.path.join(PATH_IN, 'interactive_data.csv')
df = pd.read_csv(fname, index_col=0)
df.head(5)

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [154]:
df_filtre = df[~df.isin(['None selected']).any(axis=1)]
df_filtre.head(5)

,Intent,Gender,Age,Race,Deaths,Population,Rate
152,Suicide,Female,Under 15,White,19,15355910,0.1
153,Suicide,Female,Under 15,Black,1,4095428,0.0
154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
156,Suicide,Female,Under 15,Other,0,1661877,0.0

In [160]:
total_death = df_filtre['Deaths'].sum()
suicide_death = df_filtre[df_filtre['Intent'] == 'Suicide']['Deaths'].sum()
#suicide_death= df_suicide['Deaths'].sum()
ratio= suicide_death/ total_death
print(ratio*100)
print(suicide_death)

62.68194671826165
21058

In [167]:
suicide_male_death = df_filtre[(df_filtre['Intent'] == 'Suicide') & (df_filtre['Gender'] == 'Male')]['Deaths'].sum()
ratio_male_suicide= suicide_male_death/suicide_death
print(ratio_male_suicide*100)

86.24275809668535

In [187]:
homicide_death = df_filtre[df_filtre['Intent'] == 'Homicide']['Deaths'].sum()
ratio_homicide = homicide_death/ total_death
print(ratio_homicide*100)

34.906980205387704

In [202]:
men_homicide =df_filtre[(df_filtre['Intent'] == 'Homicide') & (df_filtre['Gender'] == 'Male')& (df_filtre['Age'] == '15 - 34')]['Deaths'].sum()
men_homicide_black_1534= df_filtre[(df_filtre['Intent'] == 'Homicide') & (df_filtre['Gender'] == 'Male') & (df_filtre['Race'] == 'Black')& (df_filtre['Age'] == '15 - 34')]['Deaths'].sum()
ratiob=men_homicide_black_1534/men_homicide
print(ratiob*100)

66.12482748044778

In [209]:
woman_homicide =  df_filtre[(df_filtre['Intent'] == 'Homicide') & (df_filtre['Gender'] == 'Female')]['Deaths'].sum()
ratiow= woman_homicide/homicide_death
print(ratiow*100)

15.289502856655583